// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



.fc-col-header{
    background-color: #B900FF;

}
.fc-col-header-cell-cushion {
    color: white !important;
}

.fc-button-primary{
    color: white !important;
    background-color: #B900FF !important;
    border-color: #B900FF !important;

}

.fc-col-header-cell-cushion{
    text-decoration: none !important;
}

.fc-daygrid-day-number{
    color: #B900FF !important;
    text-decoration: none;
}
